
* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 56px;
    
    text-decoration: none;
    font-family: Consolas;
    font-size: 15px;
    font-weight: 400;
    height: 105vh;
}

/* util  OPTIMISER */
table {
    border-collapse: collapse;
    margin-bottom: 30px;
}
  
table th, table td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

table td {
    font-size: 15px;
    font-weight: 400;
}

table th {
    background-color: #f2f2f2;
    font-size: 15px;
    font-weight: bold;
}
.valid {
    border: none;
    background-color: rgb(14, 119, 239);
}

.content_1 {
    /* background-color: bisque; */
    width: 450px;
    margin: 80px auto 80px auto;
}

.content_2 {
    /* background-color: bisque; */
    width: 400px;
    margin: 40px auto 40px auto;
}

.total {
    /* float: right; */
    margin-left: 60%;
}





/* login */
.login {
    /* background-color: bisque; */
    width: 450px;
    margin: 180px auto 0px auto;
}

.login h1,
.content_1 h1 {
    text-align: center;
    font-size: 30px;
    padding-top: 25px;
}

.input {
    margin: 10px auto;
    display: flex;
}
.input_first {
    margin-top: 40px;
}
.btn_valid {
    margin-top: 20px;
}


.input input,
.input select {
    margin: auto;
    height: 35px;
    width: 200px;
    border: 1px solid rgb(136, 136, 136) ;
    border-radius: 10px;
    padding-left: 10px;
}
